.swiper-style { 
    --swiper-pagination-color: #51aef5; 
    --swiper-pagination-bullet-size: 8px; 
    --swiper-pagination-bullet-width: 16px; 
    --swiper-pagination-bullet-height: 16px; 
    --swiper-pagination-bullet-inactive-color: #b1b1b1; 
    --swiper-pagination-bullet-inactive-opacity: 0.2; 
    --swiper-pagination-bullet-opacity: 1; 
    --swiper-pagination-bullet-horizontal-gap: 4px; 
    --swiper-pagination-bullet-vertical-gap: 6px; 
    text-align: center; margin-top: 1rem; 
}